[Unit]
Description=Poll MikroTik client locations every two minutes

[Timer]
OnBootSec=1min
OnUnitInactiveSec=2min
AccuracySec=1s
Unit=mikrotik-client-monitor.service

[Install]
WantedBy=timers.target
