[Unit]
Description=Poll MikroTik client locations on a schedule

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=mikrotik-client-monitor-once.service
Persistent=true

[Install]
WantedBy=timers.target
